@{
    ViewBag.Title = "GeneralReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GeneralReport</h2>

<iframe src="@Url.Action("~/Report/reporttest.aspx")" height="500" width="100%"></iframe>